<html>
    {% extends "base.html" %}

    {% block content %}
    <body >
        <div class="row">
            <div class="leftcolumn">
                    <img src="static/LostKingdomLogoWithDinos.png" width="600px" height="600px">
            </div>
            <div class="rightcolumn">
                <h1 class="spfontncenter">
                    <br><br>
                    Lost Kingdom Minigolf Trivia
                </h1>
                <p class="spfontncenter">
                    During your mini golfing adventure, you learned many facts about our ancient scaly friends<br>
                    click below to start a trivia quiz!
                    <form action="" method="post" novalidate>
                    <p class="centered">{{ form.submit(class_="triviaButton") }}</p>
                    </form>
                </p>
            </div>
        </div>
    </body>
    {% endblock%}
</html>