<html>
    <head>
        <!--<embed src="../static/sound/dino_roar.mp3" autostart="true" loop="false" hidden="true">-->
    </head>
    {% extends "base.html" %}

    {% block content %}

    <script>

        var option_selected = 0;
        var prev_selected = 0;
        var strNum = 0;
        var strNum2 = 0
        
        document.addEventListener("keypress", function(event) {
        if (prev_selected == 0) {
            if (event.keyCode == 113) {
              strNum = event.keyCode.toString();
              document.getElementById(strNum).checked = true;
              prev_selected = 113;
            }
            else if (event.keyCode == 119) {
              strNum = event.keyCode.toString();
              document.getElementById(strNum).checked = true;
              prev_selected = 119;
            }
            else if (event.keyCode == 101) {
              strNum = event.keyCode.toString();
              document.getElementById(strNum).checked = true;
              prev_selected = 101;
            }
            else if (event.keyCode == 114) {
              strNum = event.keyCode.toString();
              document.getElementById(strNum).checked = true;
              prev_selected = 114;
            }
            else if (event.keyCode == 13) {
              strNum = event.keyCode.toString();
              document.getElementById(strNum).click();
              prev_selected = 13;
            }
          }
        else if (event.keyCode != 13) {
            if (event.keyCode != prev_selected && event.keyCode != 13) {
              strNum = prev_selected.toString();
              document.getElementById(strNum).checked = false;
              strNum2 = event.keyCode.toString();
              document.getElementById(strNum2).checked = true;
              prev_selected = event.keyCode;
            }
            else if (event.keyCode == 119) {
              strNum = prev_selected.toString();
              document.getElementById(strNum).checked = false;
              strNum2 = event.keyCode.toString();
              document.getElementById(strNum2).checked = true;
              prev_selected = event.keyCode;
            }
            else if (event.keyCode == 101) {
              strNum = prev_selected.toString();
              document.getElementById(strNum).checked = false;
              strNum2 = event.keyCode.toString();
              document.getElementById(strNum2).checked = true;
              prev_selected = event.keyCode;
            }
            else if (event.keyCode == 104) {
              strNum = prev_selected.toString();
              document.getElementById(strNum).checked = false;
              strNum2 = event.keyCode.toString();
              document.getElementById(strNum2).checked = true;
              prev_selected = event.keyCode;
            }
        }
        else {
            strNum = event.keyCode.toString();
            document.getElementById(strNum).click();
            }
        });
        
        </script>

    <body>
        {% if questionNumber == 0%}
        <div class="bg4">
        <embed src="../static/sound/dino_roar.mp3" autostart="true" loop="false" volume="50" hidden="true">
        {% elif questionNumber == 1%}
        <div class="bg5">
        <embed src="../static/sound/jungle_sound2.mp3" autostart="true" loop="false" volume="50" hidden="true">
        {% elif questionNumber == 2%}
        <div class="bg6">
        <embed src="../static/sound/jungle_sound3.mp3" autostart="true" loop="false" volume="50" hidden="true">
        {% elif questionNumber == 3%}
        <div class="bg7">
        <embed src="../static/sound/jungle_sound1.mp3" autostart="true" loop="false" volume="50" hidden="true">
        {% elif questionNumber == 4%}
        <div class="bg8">
        <embed src="../static/sound/jungle_sound2.mp3" autostart="true" loop="false" volume="50" hidden="true">
        {% elif questionNumber == 5%}
        <div class="bg9">
        <embed src="../static/sound/jungle_sound3.mp3" autostart="true" loop="false" volume="50" hidden="true">
        {% elif questionNumber == 6%}
        <div class="bg10">
        <embed src="../static/sound/jungle_sound1.mp3" autostart="true" loop="false" volume="50" hidden="true">
        {% elif questionNumber == 7%}
        <div class="bg11">
        <embed src="../static/sound/jungle_sound2.mp3" autostart="true" loop="false" volume="50" hidden="true">
        {% elif questionNumber == 8%}
        <div class="bg12">
        <embed src="../static/sound/jungle_sound3.mp3" autostart="true" loop="false" volume="50" hidden="true">
        {% elif questionNumber == 9%}
        <div class="bg13">
        <embed src="../static/sound/dino_roar.mp3" autostart="true" loop="false" volume="50" hidden="true">
        {% else %}
        <div class="bg3">
        {% endif %}

        <form id="regForm" method="post" action="">

        <div class="row>">
            <div class="colContainer">
                <div class="questionPageHeaderSideColumn">
                    <p></p>
                </div>
                <div class="questionPageHeaderMiddleColumn">
                    <span class="afrikaUpper">
                        <img src="../static/FUNNSTUFFS.png" width="450px" height="80px">
                        <br>LOST KINGDOM TRIVIA<br>
                    </span>
                </div>
                <div class="questionPageHeaderSideColumn">
                    <p></p>
                </div>
            </div>
        </div>

        <div class="row>">
            <div class="colContainer">
                <div class="questionPageSideColumn">
                    <p></p>
                </div>
                <div class="questionPageMiddleColumn">
                    <div class="card23">
                        <span class="afrikaUpperSmaller">{{ questionNumber }}. {{ question.lower() }}</span>
                        <br>
                        <!--
                        {% for item in answers %}
                    
                            <input type="radio" name="questionData" value= {{ item }} checked>
                            <label class="afrikaLower"> {{ item }} </label><br>
                    
                        {% endfor %}
                    -->
                        <span class="afrikaLower">A</span> <input type="radio" id="113" name="questionData" value= {{ answers[0] }} checked>
                        <label class="afrikaLower"> {{ answers[0].lower() }} </label><br>

                        <span class="afrikaLower">B</span> <input type="radio" id="119" name="questionData" value= {{ answers[1] }} >
                        <label class="afrikaLower"> {{ answers[1].lower() }} </label><br>

                        <span class="afrikaLower">C</span> <input type="radio" id="101" name="questionData" value= {{ answers[2] }} >
                        <label class="afrikaLower"> {{ answers[2].lower() }} </label><br>

                        <span class="afrikaLower">D</span> <input type="radio" id="114" name="questionData" value= {{ answers[3] }} >
                        <label class="afrikaLower"> {{ answers[3].lower() }} </label><br>

                        <br>
                        
                        <button type="submit" form="regForm" id="13" class="triviaButton" value="Submit">Next</button>

                    </div>
                </div>
                <div class="questionPageSideColumn">
                    <p></p>
                </div>
            </div>
        </div>

<!--
        <div class="row>">
            <div class="colContainer">
                <div class="questionPageHeaderSideColumn">
                    <p></p>
                </div>
                <div class="questionPageHeaderMiddleColumn">
                    <p>
                        <img src="../static/FNSLOGO.png" width="400px" height="80px">
                    </p>
                </div>
                <div class="questionPageHeaderSideColumn">
                    <p></p>
                </div>
            </div>
        </div>
    -->

    </form>


    </div>
    </body>
    {% endblock %}