<html>
    <head>
        <embed src="../static/sound/dino_roar.mp3" autostart="true" loop="false" hidden="true">
    </head>
    {% extends "base.html" %}

    {% block content %}

    <body>

        <form id="regForm" method="post" action="">

            <div class="row>">
                <div class="mcol">
                    <p class="afrikaUpper">
                        LOST KINGDOM TRIVIA
                    </p>
                </div>
            </div>

            <div class="tab">
                {% if picPaths[0].exists == "yes" %}

                <div class="row>">
                    <div class="colContainer">
                        <div class="lcol">
                            <p class="afrikaUpper">

                                {{ accessibleQuiz.questions[0].label }}
                    
                                <br>
                                
                                {% for item in question1 %}
                    
                                <label class="labelcontainer"> <span style="top: 5px;"> {{ item }} </span>
                                <input type="radio" name="q1" value= {{ item }} checked>
                                <span class="checkmark"></span></label><br>

                                {% endfor %}
                            </p>
                        </div>
                        <div class="rcol">
                            <img src={{ picPaths[0].path }} style="height: 450px; width: 600px; border-radius: 20px;">
                        </div>
                    </div>
                </div>

                {% else %}
                
                <p class="afrikaUpper">

                    {{ accessibleQuiz.questions[0].label }}
        
                    <br>
                    
                    {% for item in question1 %}
        
                    <label class="labelcontainer"> <span style="top: 5px;"> {{ item }} </span>
                        <input type="radio" name="q1" value= {{ item }} checked>
                        <span class="checkmark"></span></label><br>
        
                    {% endfor %}
                </p>

                {% endif %}
                    <!-- this is the tab that will display if picPaths[n].exists = "no", if yes then path is used
                    <p class="spfontncenter">

                        {{ accessibleQuiz.questions[0].label }}
            
                        <br>
                        
                        {% for item in question1 %}
            
                        <input type="radio" name="q1" value= {{ item }} checked>
                        <label class="spfontncenterLabel"> {{ item }} </label><br>
            
                        {% endfor %}
                    </p>
                -->
            </div>

            <div class="tab">

                {% if picPaths[1].exists == "yes" %}

                <div class="row>">
                    <div class="colContainer">
                        <div class="lcol">
                            <p class="afrikaUpper">

                                {{ accessibleQuiz.questions[1].label }}
                    
                                <br>
                                
                                {% for item in question2 %}
                    
                                <input type="radio" name="q2" value= {{ item }} checked>
                                <label class="afrikaLower"> {{ item }} </label><br>
                    
                                {% endfor %}
                            </p>
                        </div>
                        <div class="rcol">
                            <img src={{ picPaths[1].path }} style="height: 450px; width: 600px; border-radius: 20px;">
                        </div>
                    </div>
                </div>

                {% else %}
                
                <p class="afrikaUpper">

                    {{ accessibleQuiz.questions[1].label }}
        
                    <br>
                    
                    {% for item in question2 %}
        
                    <input type="radio" name="q2" value= {{ item }} checked>
                    <label class="afrikaLower"> {{ item }} </label><br>
        
                    {% endfor %}
                </p>

                {% endif %}

            </div>

            <div class="tab">

                {% if picPaths[2].exists == "yes" %}

                <div class="row>">
                    <div class="colContainer">
                        <div class="lcol">
                            <p class="afrikaUpper">

                                {{ accessibleQuiz.questions[2].label }}
                    
                                <br>
                                
                                {% for item in question3 %}
                    
                                <input type="radio" name="q3" value= {{ item }} checked>
                                <label class="afrikaLower"> {{ item }} </label><br>
                    
                                {% endfor %}
                            </p>
                        </div>
                        <div class="rcol">
                            <img src={{ picPaths[2].path }} style="height: 450px; width: 600px; border-radius: 20px;">
                        </div>
                    </div>
                </div>

                {% else %}
                
                <p class="afrikaUpper">

                    {{ accessibleQuiz.questions[2].label }}
        
                    <br>
                    
                    {% for item in question3 %}
        
                    <input type="radio" name="q3" value= {{ item }} checked>
                    <label class="afrikaLower"> {{ item }} </label><br>
        
                    {% endfor %}
                </p>

                {% endif %}

            </div>

            <div class="tab">

                {% if picPaths[3].exists == "yes" %}

                <div class="row>">
                    <div class="colContainer">
                        <div class="lcol">
                            <p class="afrikaUpper">

                                {{ accessibleQuiz.questions[3].label }}
                    
                                <br>
                                
                                {% for item in question4 %}
                    
                                <input type="radio" name="q4" value= {{ item }} checked>
                                <label class="afrikaLower"> {{ item }} </label><br>
                    
                                {% endfor %}
                            </p>
                        </div>
                        <div class="rcol">
                            <img src={{ picPaths[3].path }} style="height: 450px; width: 600px; border-radius: 20px;">
                        </div>
                    </div>
                </div>

                {% else %}
                
                <p class="afrikaUpper">

                    {{ accessibleQuiz.questions[3].label }}
        
                    <br>
                    
                    {% for item in question4 %}
        
                    <input type="radio" name="q4" value= {{ item }} checked>
                    <label class="afrikaLower"> {{ item }} </label><br>
        
                    {% endfor %}
                </p>

                {% endif %}

            </div>

            <div class="tab">

                {% if picPaths[4].exists == "yes" %}

                <div class="row>">
                    <div class="colContainer">
                        <div class="lcol">
                            <p class="afrikaUpper">

                                {{ accessibleQuiz.questions[4].label }}
                    
                                <br>
                                
                                {% for item in question5 %}
                    
                                <input type="radio" name="q5" value= {{ item }} checked>
                                <label class="afrikaLower"> {{ item }} </label><br>
                    
                                {% endfor %}
                            </p>
                        </div>
                        <div class="rcol">
                            <img src={{ picPaths[4].path }} style="height: 450px; width: 600px; border-radius: 20px;">
                        </div>
                    </div>
                </div>

                {% else %}
                
                <p class="afrikaUpper">

                    {{ accessibleQuiz.questions[4].label }}
        
                    <br>
                    
                    {% for item in question5 %}
        
                    <input type="radio" name="q5" value= {{ item }} checked>
                    <label class="afrikaLower"> {{ item }} </label><br>
        
                    {% endfor %}
                </p>

                {% endif %}

            </div>

            <div class="tab">

                {% if picPaths[5].exists == "yes" %}

                <div class="row>">
                    <div class="colContainer">
                        <div class="lcol">
                            <p class="afrikaUpper">

                                {{ accessibleQuiz.questions[5].label }}
                    
                                <br>
                                
                                {% for item in question6 %}
                    
                                <input type="radio" name="q6" value= {{ item }} checked>
                                <label class="afrikaLower"> {{ item }} </label><br>
                    
                                {% endfor %}
                            </p>
                        </div>
                        <div class="rcol">
                            <img src={{ picPaths[5].path }} style="height: 450px; width: 600px; border-radius: 20px;">
                        </div>
                    </div>
                </div>

                {% else %}
                
                <p class="afrikaUpper">

                    {{ accessibleQuiz.questions[5].label }}
        
                    <br>
                    
                    {% for item in question6 %}
        
                    <input type="radio" name="q6" value= {{ item }} checked>
                    <label class="afrikaLower"> {{ item }} </label><br>
        
                    {% endfor %}
                </p>

                {% endif %}

            </div>

            <div class="tab">

                {% if picPaths[6].exists == "yes" %}

                <div class="row>">
                    <div class="colContainer">
                        <div class="lcol">
                            <p class="afrikaUpper">

                                {{ accessibleQuiz.questions[6].label }}
                    
                                <br>
                                
                                {% for item in question7 %}
                    
                                <input type="radio" name="q7" value= {{ item }} checked>
                                <label class="afrikaLower"> {{ item }} </label><br>
                    
                                {% endfor %}
                            </p>
                        </div>
                        <div class="rcol">
                            <img src={{ picPaths[6].path }} style="height: 450px; width: 600px; border-radius: 20px;">
                        </div>
                    </div>
                </div>

                {% else %}
                
                <p class="afrikaUpper">

                    {{ accessibleQuiz.questions[6].label }}
        
                    <br>
                    
                    {% for item in question7 %}
        
                    <input type="radio" name="q7" value= {{ item }} checked>
                    <label class="afrikaLower"> {{ item }} </label><br>
        
                    {% endfor %}
                </p>

                {% endif %}

            </div>

            <div class="tab">

                {% if picPaths[7].exists == "yes" %}

                <div class="row>">
                    <div class="colContainer">
                        <div class="lcol">
                            <p class="afrikaUpper">

                                {{ accessibleQuiz.questions[7].label }}
                    
                                <br>
                                
                                {% for item in question8 %}
                    
                                <input type="radio" name="q8" value= {{ item }} checked>
                                <label class="afrikaLower"> {{ item }} </label><br>
                    
                                {% endfor %}
                            </p>
                        </div>
                        <div class="rcol">
                            <img src={{ picPaths[7].path }} style="height: 450px; width: 600px; border-radius: 20px;">
                        </div>
                    </div>
                </div>

                {% else %}
                
                <p class="afrikaUpper">

                    {{ accessibleQuiz.questions[7].label }}
        
                    <br>
                    
                    {% for item in question8 %}
        
                    <input type="radio" name="q8" value= {{ item }} checked>
                    <label class="afrikaLower"> {{ item }} </label><br>
        
                    {% endfor %}
                </p>

                {% endif %}

            </div>

            <div class="tab">

                {% if picPaths[8].exists == "yes" %}

                <div class="row>">
                    <div class="colContainer">
                        <div class="lcol">
                            <p class="afrikaUpper">

                                {{ accessibleQuiz.questions[8].label }}
                    
                                <br>
                                
                                {% for item in question9 %}
                    
                                <input type="radio" name="q9" value= {{ item }} checked>
                                <label class="afrikaLower"> {{ item }} </label><br>
                    
                                {% endfor %}
                            </p>
                        </div>
                        <div class="rcol">
                            <img src={{ picPaths[8].path }} style="height: 450px; width: 600px; border-radius: 20px;">
                        </div>
                    </div>
                </div>

                {% else %}
                
                <p class="afrikaUpper">

                    {{ accessibleQuiz.questions[8].label }}
        
                    <br>
                    
                    {% for item in question9 %}
        
                    <input type="radio" name="q9" value= {{ item }} checked>
                    <label class="afrikaLower"> {{ item }} </label><br>
        
                    {% endfor %}
                </p>

                {% endif %}

            </div>

            <div class="tab">

                {% if picPaths[9].exists == "yes" %}

                <div class="row>">
                    <div class="colContainer">
                        <div class="lcol">
                            <p class="afrikaUpper">

                                {{ accessibleQuiz.questions[9].label }}
                    
                                <br>
                                
                                {% for item in question10 %}
                    
                                <input type="radio" name="q10" value= {{ item }} checked>
                                <label class="afrikaLower"> {{ item }} </label><br>
                    
                                {% endfor %}
                            </p>
                        </div>
                        <div class="rcol">
                            <img src={{ picPaths[9].path }} style="height: 450px; width: 600px; border-radius: 20px;">
                        </div>
                    </div>
                </div>

                {% else %}
                
                <p class="afrikaUpper">

                    {{ accessibleQuiz.questions[9].label }}
        
                    <br>
                    
                    {% for item in question10 %}
        
                    <input type="radio" name="q10" value= {{ item }} checked>
                    <label class="afrikaLower"> {{ item }} </label><br>
        
                    {% endfor %}
                </p>

                {% endif %}

            </div>

            <div class="row">
                <div class="mcol">
                    <br>
                    <div class="centered">
                        <button type="button" class="triviaButton" style="margin-right: 20px;" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
                        
                        <button type="button" class="triviaButton" style="margin-left: 20px;" id="nextBtn" onclick="nextPrev(1)">Next</button>
                    </div>
                    <div style="text-align:center;margin-top:40px;">
                        <span class="step"></span>
                        <span class="step"></span>
                        <span class="step"></span>
                        <span class="step"></span>
                        <span class="step"></span>
                        <span class="step"></span>
                        <span class="step"></span>
                        <span class="step"></span>
                        <span class="step"></span>
                        <span class="step"></span>
                    </div>
                </div>
            </div>
        </form>

        <script src="static/myFunctions.js">
        </script>

<div class="row">
    <div class="colContainer">

        <div class="mcol">

            <div class="footer">
            <p class="centered">
            <img src="../static/FNSLOGO.png" width="400px" height="80px">
            </p>
            </div>

        </div>

    </div>

</div>

    </body>

    {% endblock %}

</html>