<html>
    {% extends "base.html" %}
    {% block content %}
    <body>
        <h1 class="spfontncenter">Trivia Results</h1><br><br>
        <p class="spfontncenter">
        Nice Job you got a {{ numCorrect }} out of 5!
        </p>
        <br>
        <p class="centered">
        <button id="myButton2" class="triviaButton" >New Attempt</button>

            <script type="text/javascript">
                document.getElementById("myButton2").onclick = function () {
                    location.href = "/";
                };
            </script>
            </p>

            <p class="centered">

                <img src="static/dinopic.jpg">
            </p>
        </body>
     {% endblock %}
</html>