<html>

    {% extends "base.html" %}

    {% block content %}
    <body>
    <h1 class="spfontncenter"> Dinosaur Trivia Quiz</h1>
    <h2 class="spfontncenter"> Questions </h2>
    <form action="" method="post" novalidate>
        <div class=slideshow-container>
        <div class=mySlides>
            <p class="spfontncenter">

            {{ accessibleQuiz.questions[0].label }}

            <br>
            
            {% for item in question1 %}

            <input type="radio" name="q1" value= {{ item }} >
            <label for="male"> {{ item }} </label><br>

            {% endfor %}
            </p>
        </div>
        <div class=mySlides>
            <p class="spfontncenter">

            {{ accessibleQuiz.questions[1].label }}

            <br>
            
            {% for item in question2 %}

            <input type="radio" name="q1" value= {{ item }} >
            <label for="male"> {{ item }} </label><br>

            {% endfor %}
            </p>
        </div>
        <div class=mySlides>
            <p class="spfontncenter">

            {{ accessibleQuiz.questions[2].label }}

            <br>
            
            {% for item in question3 %}

            <input type="radio" name="q1" value= {{ item }} >
            <label for="male"> {{ item }} </label><br>

            {% endfor %}
            </p>
        </div>
        <p centered>
        <button class="triviaButton" id="next">Next Question</button>
        </p>
        <p>
            <a onclick="plusSlides(-1)">Previous</a>
            <a onclick="plusSlides(1)">Next</a>
        </p>
        </div>
        <p class="centered">
            <input class="triviaButton" type="submit" value="Submit">
        </p>
        <script src="static/myFunctions.js">
        </script>
    </form>
  </body>

  {% endblock %}

</html>
